src/Shrinklet/Web References/ShrinksterDotCom/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://shrinkster.com" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://shrinkster.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://shrinkster.com">
      <s:element name="ShrinkURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShrinkURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShrinkURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ShrinkURLSoapIn">
    <wsdl:part name="parameters" element="tns:ShrinkURL" />
  </wsdl:message>
  <wsdl:message name="ShrinkURLSoapOut">
    <wsdl:part name="parameters" element="tns:ShrinkURLResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="ShrinkURL">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns a Shrinkster URL for the passed URL</documentation>
      <wsdl:input message="tns:ShrinkURLSoapIn" />
      <wsdl:output message="tns:ShrinkURLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="ShrinkURL">
      <soap:operation soapAction="http://shrinkster.com/ShrinkURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://www.shrinkster.com/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>